!.env.example
*.log
*.md
.DS_Store
.DS_Store
.dockerignore
.env
.env.*
.eslintrc*
.git
.gitignore
.idea
.next
.prettierrc*
.vscode
/.next
Dockerfile
Thumbs.db
node_modules
npm-debug.log*
yarn-error.log